#myForm_add *, #myForm_edit *{
    width: 50%;
    box-sizing: border-box;
    letter-spacing: 2px;
}


#myForm_add input, #myForm_add select, #myForm_edit input, #myForm_edit select {
     padding: 8px;
     font-size: 16px;
     background-color: #FFFFFF;
     color: #000000;
     border-bottom: 1px;
     border-style: solid;
     border-radius: 5px;
     border-width: 1px;
     border-color: lightgrey;
     box-shadow: 0px 0px 0px rgba(66,66,66,.40);
     text-shadow: 0px 0px 0px rgba(66,66,66,.75);
     width: 100%;
     font-style: italic;
}


#myForm_add input[type=submit], #myForm_edit input[type=submit] {
    width: 100%;
    border: 0;
    box-shadow: 0 0 4px grey;
    cursor: pointer;
    font-style: normal;
}

#myForm_edit input[type=text] {
    min-width: 300px;
    padding-right: 18px;
}

#myForm_edit .input_edit {
    padding: 20px;
}

#myForm_add select {
}

#myForm_edit select {
    width: fit-content;
}

#myForm_edit input[type=submit] {
    width: 10%;
    min-width: fit-content;
}


.loeschen_button input {
    background:linear-gradient(to bottom, #c20808 5%, #f57a7a 100%);
    background-color:#c20808;
    border-radius:6px;
    border:1px solid #fa7676;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    padding:1px 6px;
    text-decoration:none;
}
.loeschen_button input:hover {
    background:linear-gradient(to bottom, #f57a7a 5%, #c20808 100%);
    background-color:#f57a7a;
}
.loeschen_button input:active {
    position:relative;
    top:1px;
}