table.myTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  min-width: 50%;
  width: auto;
  text-align: left;
  border-collapse: collapse;
}
table.myTable td, table.myTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.myTable tbody td {
  font-size: 20px;
  padding: 5px;
}
table.myTable tr:nth-child(even) {
  background: #DDDDDD;
}
table.myTable thead {
  background: #333333;
  background: -moz-linear-gradient(top, #666666 0%, #474747 66%, #333333 100%);
  background: -webkit-linear-gradient(top, #666666 0%, #474747 66%, #333333 100%);
  background: linear-gradient(to bottom, #666666 0%, #474747 66%, #333333 100%);
  border-bottom: 2px solid #444444;
}
table.myTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A2A2A2;
}
table.myTable thead th:first-child {
  border-left: none;
}

table.myTable tfoot td {
  font-size: 14px;
}
table.myTable tfoot .links {
  text-align: right;
}
table.myTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}