<!DOCTYPE html>
<html>
<head>
        {% if title %}
            <title>LANPARTY - {{ title }}</title>
        {% else %}
            <title>LANPARTY</title>
        {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navi.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms.css') }}">

</head>
<body>
<div id="header">
    <h1>LAN Party Turniercreator</h1>
</div>
 
<div id="navbar" class="navbar">
    <a href="{{ url_for("index") }}">Startseite</a>
    <input type="checkbox" id="turnier">
    <label for="turnier">Turnier</label>
    <input type="checkbox" id="teilnehmer">
    <label for="teilnehmer">Teilnehmer</label>
    <input type="checkbox" id="spiele">
    <label for="spiele">Spiele</label>
    <div class="startseite-links">
    </div>
    <div class="turnier-links">
        <br><br> <b>Turnier:</b>
        <a href="{{ url_for("turnier_neu") }}">Neu</a>
        <a href="{{ url_for("turnier_aktiv") }}">Laufend</a>
        <a href="{{ url_for("turniere") }}">Archiv</a>
    </div>
    <div class="teilnehmer-links">
        <br><br> <b>Teilnehmer:</b>
        <a href="{{ url_for("teilnehmer") }}">Übersicht</a>
        <a href="{{ url_for("teilnehmer_neu") }}">Neu</a>
    </div>
    <div class="spiele-links">
        <br><br> <b>Spiele:</b>
        <a href="{{ url_for("spiele") }}">Übersicht</a>
        <a href="{{ url_for("spiel_neu") }}">Neu</a>
    </div>
</div>
 
 <div>
    {% block app_content %}{% endblock %}
 </div>
 

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>