{% extends "base.html" %}
{% block app_content %}

    <h1>{{turniername[0][0]}}: Ergebnis für {{spielname}} bearbeiten</h1>

    <ul>
        <li>Button: Add Round</li>
        <li>Button: Delete Round</li>
    </ul>

    <form action="{{ url_for('ergebnis', turnierid=turnierid, spielname=spielname) }}" method="POST" novalidate id="myForm_edit">
    {{ form.hidden_tag() }}
    <div>

    {{ form.ergebnislist }}
    
    {% for form_field in form.ergebnislist %}
        {% set form_index = loop.index0 %}
        {{ [form_index]  }}
        {{ form.runde.label }} {{ punkteliste[form_index]}}

        <table class="myTable">
            <thead>
                <tr>
                    <th>Teilnehmer</th>
                    <th>Ergebnis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ }}</td>
                    <td >{{ }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}



    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<br /><br/><br/><br/>

<h3>Punkteliste (debugging)</h3>
{{ punkteliste }}
{% for i in punkteliste %}
    {% for j in i %}
        <p>{{ j }}</p>
    {% endfor %}
{% endfor %}
{% endblock %}

