{% extends "base.html" %}
{% block app_content %}

    <h1>{{spiel}}</h1>

    <h2>Infos zum Game:</h2>

{% for details in spieldetails %}
    <ul>
        <li>Name: {{details[1]}}</li>
        <li>Typ: {{details[2]}}</li>
        <li>Maxspieler: {{details[3]}}</li>
    </ul>
{% endfor %} 

    <h2>Historie in Turnieren verwendet:</h2>

    <table class="myTable">
        <thead>
            <tr>
                <th>Turniername</th>
                <th>Jahr</th>
            </tr>
        </thead>
        {% for details in turniere %}
        <tr>
            <td><a href="{{ url_for("turniere", turnierid=details[0]) }}">{{details[0]}}</a></td>
            <td>{{details[1]}}</td>
        </tr>
        {% endfor %}
    </table>


 <form action="" method="post" novalidate class="loeschen_button">{{ form.hidden_tag()}}<h6>Spiel löschen: {{ form.submit }} </h6></form>

{% endblock %}