{% extends "base.html" %}
{% block app_content %}

        <h1>Alle Spieler</h1>


        <table class="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Turnier Wins</th>
                </tr>
            </thead>
            {% for teilnehmer in alle_teilnehmer %}
                <tr>
                    <td>{{ teilnehmer[0] }}</td>
                    <td><a href="{{ url_for("profil", nickname=teilnehmer[1]) }}">{{ teilnehmer[1] }}</a></td>
                    <td>0</td>
                </tr>
            {% endfor %} 
        </table>
    

{% endblock %}