{% extends "base.html" %}
{% block app_content %}

    <h1>{{spiel}}</h1>

    <h2>Infos zum Game:</h2>

{% for details in spieldetails %}
    <ul>
        <li>Name: {{details[0]}}</li>
        <li>Typ: {{details[1]}}</li>
        <li>Maxspieler: {{details[2]}}</li>
    </ul>
{% endfor %} 

    <h2>Historie in Turnieren verwendet:</h2>

    <table class="myTable">
        <thead>
            <tr>
                <th>Turniername</th>
                <th>Jahr</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>


 <form action="" method="post" novalidate class="loeschen_button">{{ form.hidden_tag()}}<h6>Spiel löschen: {{ form.submit }} </h6></form>

{% endblock %}