{% extends "base.html" %}
{% block app_content %}

    <h1>Neues Turnier starten:</h1>
    <form action="" method="post" novalidate id=myForm_add>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.teilnehmer.label }}</h3>
            {{ form.teilnehmer(size=5) }}
            {% for error in form.teilnehmer.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit }}
        </p>
    </form>

{% endblock %}