{% extends "base.html" %}
{% block app_content %}

    <h1></h1>

    <h2>Aktuelle Punkteliste:</h2>

    <table class="myTable">
        <thead>
            <tr>
                <th>Spiel</th>
                <th>Teilnehmer</th>
                <th>Runde</th>
                <th>Platzierung</th>
            </tr>
        </thead>
    {% for element in punkteliste %}
        <tr>
            <td>{{ element[0] }}</td>
            <td>{{ element[1] }}</td>
            <td>{{ element[2] }}</td>
            <td>{{ element[3] }}</td>
        </tr>
    {% endfor %} 
    </table>

    
{% endblock %}