{% extends "base.html" %}
{% block app_content %}

    <h1>Turnier - {{turniername}}</h1>

    <h2>Punkteliste:</h2>

    <table class="myTable">
        <thead>
            <tr>
                <th>Teilnehmer</th>
                <th>Gesamtpunkte</th>
            </tr>
        </thead>
    {% for element in punktelisteturnier %}
        <tr>
            <td>{{ element[0] }}</td>
            <td>{{ element[1] }}</td>
        </tr>
    {% endfor %} 
    </table>

    <h2>Turnier bearbeiten</h2>
        <form action="{{ url_for('turnier', turnierid=turnierid) }}" method="POST" novalidate>
            <div>
                <p> {{ form.addgame }} - {{ form.gamelist_to_add }}</p>
                <p> {{ form.deletegame }} - {{ form.gamelist_to_delete }} </p>
            </div>
        </form>

    <h2>Aktuelle Spielliste:</h2>


    {% for spiel in punktelistespiel %}

    <h3 style="padding-left: 48px; font-weight: bold; font-style: italic; text-decoration: underline solid rgb(68, 68, 68);">
    <a href="{{ url_for('ergebnis', turnierid=turnierid, spielname=spiel[0][0][0])}}">{{spiel[0][0][0]}}</a></h3>

            <p><table class="myTable">
                <thead>
                    <tr>
                        <th>Teilnehmer</th>
                        <th>Runde</th>
                        <th>{{spiel[0][0][2]|capitalize}}</th>
                    </tr>
                </thead>


            {% for runde in spiel %}

                {% for spieler in runde %}


                    <tbody>
                        <tr>
                            <td>{{spieler[1]}}</td>
                            <td>{{spieler[3]}}</td>
                            <td class="input_edit">{{spieler[4]}}</td>
                        </tr>
                    </tbody>

                {% endfor %}


            {% endfor %}


            </table></p>


    {% endfor %}



{% endblock %}